AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_SESSION_TOKEN=your_session_token_here
AWS_REGION=us-east-1

# --- Flask ---
FLASK_SECRET_KEY=change_this_to_a_random_string

# --- Third-party APIs ---
OPENWEATHERMAP_API_KEY=your_openweathermap_key_here
NOMINATIM_USER_AGENT=SeaKeepers-RMIT-Assignment3

# --- DynamoDB table names ---
DYNAMODB_USERS_TABLE=Users
DYNAMODB_REPORTS_TABLE=DebrisReports
DYNAMODB_CAMPAIGNS_TABLE=Campaigns
DYNAMODB_RSVPS_TABLE=RSVPs

# --- S3 bucket names ---
S3_PHOTOS_BUCKET=your-photos-bucket-name
S3_DATA_BUCKET=your-noaa-data-bucket-name

# ElastiCache (Redis) & Athena / Glue
REDIS_HOST=your-redis-cluster-endpoint.cache.amazonaws.com
REDIS_PORT=6379
ATHENA_DATABASE=seakeepers_catalog
ATHENA_TABLE=seakeepers_noaa_data
ATHENA_OUTPUT_LOCATION=s3://your-athena-results-bucket/